%h2 Sign up
= simple_form_for(:user, url: registration_path(:user)) do |f|
  = devise_error_messages!
  .form-inputs
    = f.input :firstname, required: true, autofocus: true , input_html: { autocomplete: "firstname" }
    = f.input :lastname, required: true, input_html: { autocomplete: "lastname" }
    = f.input :birthdate, as: :date, required: true, start_year: Date.today.year - 100,
                              end_year: Date.today.year - 5, order: [:day, :month, :year]
    = f.input :email, required: true, input_html: { autocomplete: "email" }
    = f.input :password, required: true,
      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), |
      input_html: { autocomplete: "new-password" }                                          |
    = f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" }
  .form-actions
    = f.button :submit, "Sign up"
= render "devise/shared/links"
